
.header-toolbar{
    
    width: 100%;
    position: relative;
    height: 35px;
    line-height: 35px;
    
}
.header-toolbar-style{
    display :flex;
    flex-direction: row-reverse;
    margin-right: 100px;
}
.menu-header{
    display: flex ;
    flex-wrap: wrap;
    margin-top : 20px ;
    align-items: center;
    gap: 10%; 
    

    
}
.logo{
    width: 100px;
    height: auto;
    margin-left: 15rem ;
}

.menu ul li  {
     
    list-style-type: none ;
    display :inline; 
    margin-right: 20px;
    color: rgb(11, 86, 165)
}
.img-fluid{
    width : 1550px ; 
    height : 489px ;
}
.text-content-container{
    margin-left: 205px;
}
