
.header-toolbar{
    
    width: 100%;
    position: relative;
    height: 35px;
    line-height: 35px;
    
}
.header-toolbar-style{
    display :flex;
    flex-direction: row-reverse;
    margin-right: 100px;
}
.menu-header{
    display: flex ;
    flex-wrap: wrap;
    margin-top : 20px ;
    align-items: center;
    gap: 10%; 
   
}
.logo{
    width: 100px;
    height: auto;
    margin-left: 15rem ;
}

.menu ul li  {
    list-style-type: none ;
    display :inline; 
    margin-right: 20px;
    color: rgb(11, 86, 165)
}

.text-content-container{
    margin-left: 205px;
}
.button-seemore button {
    color : #fff;
    background-color:rgb(11, 86, 165) ;
    padding: 10px 20px 10px 20px ;
    border: 1px solid #fff
}
.item-text{
    border : 0.6px solid #d8d5d5 ;
}
.text-color{
    color : rgb(11, 86, 165)
}
.text-center{
    color : rgb(11, 86, 165)
}
.box-content{
    background-color: red;
    display : flex ;
    justify-content: center; 
    
}
.logo-2{
  font-size: 40px;
  padding : 20px;
}
.box-item{
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding : 20px 
}
.content-end{
    background-color:rgb(11, 86, 165) ;
    display : flex ; 
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 70px 
}
.box-end{
    padding: 30px 20px 10px 0px ; 
    color :#fff
    

}
.box-end a {
    color:#fff
}
a:hover {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.to {
    display: grid;
    color: #000 
    
}

.form {
    border: 1px solid #80808000;
    grid-row: 3;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
}
.submid-content{
    margin :20px 0px  ;
    color:#fff;
    background-color:red;
    padding: auto 
}
input{
    margin-top: 20px ;
}